{% extends "base.html" %}

{% block content %}
<div class="card text-center">
  <div class="card-header">
    Super Awesome Coffee
  </div>
  <div class="card-body">
    <h4 class="card-title">{{coffee.name}}</h4>
    <p>Coffee Bean: {{coffee.bean}}</p>
    <p>Roast: {{coffee.roast}}</p>
    <p># of espresso shots: {{coffee.espresso_shots}}</p>
    <p>Water ammount: {{coffee.water}} ml.</p>
    <p>Steamed Milk: {% if coffee.steamed_milk %}Added {% else %}No Milk {% endif %}</p>
    <p>Foam: {{coffee.foam}} cm.</p>
    {% if coffee.syrup.all.count > 0 %}
        <p>Syrups Added: {% for syrup in coffee.syrups.all %} {{syrup.name}}{% endfor %}</p>
    {% endif %}
    {% if coffee.powder.all.count > 0 %}
        <p>Powders Added: {% for powder in coffee.powders.all %} {{powder.name}}{% endfor %}</p>
    {% endif %}
    <form action="{% url 'cart:add' %}" method="GET">
        <input type="hidden" name="item_id" value="{{coffee.id}}">
        <input type="number" name="qty" value="1">
        <button type = "submit" class="btn btn-success float-right">
          <i class="fa fa-cart-plus" aria-hidden="true"></i>
      </button>
    </form>
  </div>
  <div class="card-footer text-muted">
    {{coffee.price}} KWD
  </div>
</div>
{% endblock content %}