{% extends "base.html" %}

{% block content %}
<div class="row">
	{% for coffee in coffee_list %}
	<div class="col-md-4">
	<div class="card">
		<div class="card-body">
			<h4 class="card-title">{{coffee.name}}</h4>
			<h6 class="card-subtitle mb-2 text-muted">{{coffee.price}} KWD</h6>
			<a href="{% url 'coffee:coffee_detail' pk=coffee.pk %}" class="btn btn-secondary">Full Details</a>
			<form action="{% url 'cart:add' %}" method="GET">
				<input type="hidden" name="item_id" value="{{coffee.id}}">
				<input type="hidden" name="qty" value="1">
				<button type = "submit" class="btn btn-success float-right">
					<i class="fa fa-cart-plus" aria-hidden="true"></i>
				</button>
			</form>
		</div>
	</div>
	</div>
	{% endfor %}
</div>
{% endblock content %}